<!-- Create your form here -->
<!-- localhost:3000/students/new -->
<h1>Student Form</h1>

  
<h3>Student Form</h3>

<%= form_tag students_path do %>
  <label>First Name:</label><br>
  <%= text_field_tag :first_name %><br>

  <label>Last Name:</label><br>
  <%= text_field_tag :last_name %><br>

  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

  <%= submit_tag "Submit Student" %>
<% end %>

<!-- localhost:3000/student/:id -->